.Talent {
  font-style:normal; 
  animation: o-g 10s linear infinite;

}
.talentRainbow{
	font-style: normal; 
	animation: rainbow 7s linear infinite; 

}
@keyframes o-g{
  0% 
  0%, 50%, 100% {color: orange}
	25%, 75% {color: green}

}

@keyframes rainbow {
  0% { color: hsl(0, 100%, 50%); }
  14.28% { color: hsl(30, 100%, 50%); }
  28.57% { color: hsl(60, 100%, 50%); }
  42.85% { color: hsl(120, 100%, 50%); }
  57.14% { color: hsl(240, 100%, 50%); }
  71.42% { color: hsl(270, 100%, 50%); }
  85.71% { color: hsl(300, 100%, 50%); }
  100% { color: hsl(0, 100%, 50%); }
}
